{% extends "base.html" %}

{% block content %}
<section class="form-page">
  <div class="form-container">
    <h2 class="form-title">Login</h2>
    <form method="POST" class="row g-3">
      {{ form.hidden_tag() }}

      <div class="col-12">
        <div class="form-floating">
          {{ form.email(class="form-control", placeholder="Email") }}
          {{ form.email.label(class="form-label") }}
        </div>
      </div>

      <div class="col-12">
        <div class="form-floating">
          {{ form.password(class="form-control", placeholder="Password") }}
          {{ form.password.label(class="form-label") }}
        </div>
      </div>

      <div class="col-12">
        <div class="form-check">
          {{ form.remember(class="form-check-input") }}
          {{ form.remember.label(class="form-check-label") }}
        </div>
      </div>

      <div class="col-12">
        {{ form.submit(class="btn btn-rm w-100") }}
      </div>

      <div class="col-12 text-center">
        <small>Don't have an account? <a href="{{ url_for('main.register') }}">Register here</a></small>
      </div>
    </form>
  </div>
</section>
{% endblock %}





