{% extends "base.html" %}

{% block content %}
<section class="form-page">
  <div class="form-container">
    <h2 class="form-title">Profile</h2>
    <form method="POST" enctype="multipart/form-data" class="row g-3">
      {{ form.hidden_tag() }}

      <div class="col-md-6">
        <div class="form-floating">
          {{ form.username(class="form-control", placeholder="Username") }}
          {{ form.username.label(class="form-label") }}
        </div>
      </div>

      <div class="col-md-6">
        <div class="form-floating">
          {{ form.email(class="form-control", placeholder="Email") }}
          {{ form.email.label(class="form-label") }}
        </div>
      </div>

      <div class="col-12">
        <div class="form-floating">
          {{ form.picture(class="form-control") }}
          {{ form.picture.label(class="form-label") }}
        </div>
      </div>

      <div class="col-12">
        {{ form.submit(class="btn btn-rm w-100") }}
      </div>
    </form>
  </div>
</section>
{% endblock %}

