{% extends "base.html" %}
{% block title %}Profile - R Machinery{% endblock %}
{% block content %}
  <h2>My Profile</h2>
  <img src="{{ image_file }}" alt="Profile Picture" class="profile-pic">
  <form method="POST" action="" enctype="multipart/form-data">
    {{ form.hidden_tag() }}
    <div>{{ form.username.label }} {{ form.username() }}</div>
    <div>{{ form.email.label }} {{ form.email() }}</div>
    <div>{{ form.picture.label }} {{ form.picture() }}</div>
    <div>{{ form.submit(class='btn-primary') }}</div>
  </form>
{% endblock %}
